@import "bourbon"
@import "_normalize.sass"
@import "_vars.sass"
@import "_fonts.sass"
@import "header.sass"

@import "libs/sprite.sass"
@import "libs/owl.carousel.sass"
@import "libs/jquery.jscrollpane.sass"

*::-webkit-input-placeholder
	color: #424242
	opacity: 1


*:-moz-placeholder
	color: #424242
	opacity: 1

*::-moz-placeholder
	color: #424242
	opacity: 1

*:-ms-input-placeholder
	color: #424242
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #424242

body input:required:valid,
body textarea:required:valid
	color: #424242

body
	font-size: 17px
	min-width: 1200px
	position: relative
	line-height: 1.3
	font-family: "HelveticaNeueLight", $helvetica
	font-weight: normal
	color: #000
	position: relative
	background-color: #fff

.container
	width: 1200px

img
	width: auto

/* nav-header */
$gold_color: #9e8348

.gold_bg
	background-color: $gold_color

.gold_border
	border-color: $gold_color

.nav-btn
	position: absolute
	top: 50%
	left: 0
	width: 22px
	height: 43px
	background: url('img/icons-s2baca487d5.png') no-repeat 0 -5591px
	margin-top: -22px
	cursor: pointer

	&:hover
		background-position: -22px -5591px
	
	&.nav-next
		left: auto
		right: 0
		background-position: 0 -5543px

	&.nav-next:hover
		background-position: -22px -5543px

.nav-white .nav__back a
	color: #4e4e4e
	&:hover
		color: #1d5d96

.section__space b
	@extend .gold_bg

.nav-white .nav__menu .nav__menu__contacts .btn:hover,
.feedback .feedback__email .form-group .btn:hover
	background-color: #1d5d96
	border-color: #1d5d96

.nav-white .nav__back a .icon__top
	background: transparent url('img/icons-s2baca487d5.png') 0 -5666px no-repeat

.nav-white .nav__back a:hover .icon__top
	+sprite($s-up)
/* end nav-header */

/* footer */
.pagenavi
	padding-top: 100px
.pagenavi .pagenavi__post a:hover
	border-color: #1d5d96
	color: #1d5d96
.pagenavi .pagenavi__post.is-left a:hover:before
	+sprite($s-footer-left_blue)
.pagenavi .pagenavi__post.is-right a:hover:before
	+sprite($s-footer-right_blue)

.vista
	background-color: #003571
/* end footer */


/* jscrollpane */
.jspVerticalBar
	background-color: transparent
	width: 7px
.jspTrack
	background-color: transparent
.jspDrag
	border-radius: 3px
	background-color: rgba(0,0,0,.5)

/* end jscrollpane */

.uralsib_page
	position: relative
	z-index: 2
	overflow: hidden
	padding-top: 113px
	min-width: 1200px

/* icon */
.icon
	display: inline-block
.icon_project
	+sprite($s-project)
.icon_desing
	+sprite($s-desing)
.icon_develop
	+sprite($s-develop)
.icon_support
	+sprite($s-support)
.icon_mobile-version
	+sprite($s-mobile-version)
.icon_down
	+sprite($s-down)
	&:hover
		+sprite($s-down_hover)
.icon_left_yellow
	+sprite($s-left_yellow)
	&:hover
		+sprite($s-left_gray)
.icon_right_yellow
	+sprite($s-right_yellow)
	&:hover
		+sprite($s-right_gray)
.icon_quote
	+sprite($s-quote)
.icon_bitrix
	+sprite($s-bitrix)
.icon_gold-site-invert
	+sprite($s-gold-site-invert)
/* end icon */


/* .icon-uslugi */
.icon-uslugi
	font-size: 0
	text-align: center
.icon-uslugi__item
	display: inline-block
	font-size: $f-uslugi-item
	text-transform: uppercase
	width: 234px
	text-align: center
.icon-uslugi__item_first
	padding-left: 0
.icon-uslugi__item_last
	padding-right: 0
.icon-uslugi__text
	margin: 22px 0 0
/* end .icon-uslugi */

/* .gold-site */
.gold-site
	width: 200px
	margin: 0 auto
.gold-site__logo
	float: left
	padding-top: 5px
.gold-site__winner
	font-size: 12px
	margin: 5px 0 0
/* end .gold-site */

/* .h2 */
.h2
	text-align: center
.h2__text
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	font-size: $f-h1
	color: $c-h2
	margin: 0 0 10px
	text-transform: uppercase
.h2__text_white
	color: #fff
.h2__border
	width: 163px
	height: 1px
	background-color: #ffdc17
	margin: 0 auto

/* end .h2 */

/* .desc */
.desc
	font-size: $f-desc
	text-align: center
/* end .desc */


/* .carousel-customer */
.carousel-navigation
	position: absolute
	top: 50%
	+transform(translateY(-50%))
	z-index: 2
	cursor: pointer

.carousel-customer
	position: relative
.carousel-customer__nav
	width: 100%
	height: 100%
.carousel-customer__prev
	@extend .carousel-navigation
	left: 0
.carousel-customer__next
	@extend .carousel-navigation
	right: 0
/* end .carousel-customer */

/* .carousel-customer-item */
.carousel-customer-item
	width: 615px
	margin: 0 auto
	height: 325px
.carousel-customer__item_map
	background-image: url('img/customer-map.png')
	background-size: contain
	background-repeat: no-repeat
	background-position: center center
.carousel-customer__item_dialog
	width: 835px
.carousel-customer-item__picture
	width: 100%
	float: left
	vertical-align: top
.carousel-customer-item__picture_glob
	width: 260px
.carousel-customer-item__picture_dialog
	width: 505px
.carousel-customer-item__desc
	margin-left: 330px
.carousel-customer-item__desc_map
	padding-top: 70px
	margin-left: 300px
.carousel-customer-item__number
	font-size: $f-h1
	color: $c-green
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	line-height: 1
	margin: 0
	padding-top: 50px
.carousel-customer-item__text
	font-size: $f-h1
	color: $c-yellow
	text-transform: lowercase
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	margin: 0
	line-height: 1
/* end .carousel-customer-item */


/* carousel-function-text */
.carousel-function-text__desc
	margin: 0
/* end carousel-function-text */

/* carousel-function */
.carousel-function-img
	width: 665px
	margin: 0 auto
.carousel-function-img__item
	height: 590px
.carousel-function-img__img
	width: 664px
	height: 374px
	position: absolute
	bottom: 0
	left: 50%
	+transform(translateX(-50%))
.carousel-function__navigation
	position: absolute
	top: 50%
	+transform(translateY(-50%))
	z-index: 2
	cursor: pointer


.carousel-function__nav
	position: absolute
	width: 100%
	height: 100%

.carousel-function__prev
	@extend .carousel-function__navigation
	left: 60px
.carousel-function__next
	@extend .carousel-function__navigation
	right: 60px
/* end carousel-function */




/* .section-1 */
.section-1
	background-color: #003571
	+linear-gradient( #1e5e97 0%, #003571 30%)
	text-align: center
	padding: 26px 0 29px
	color: #fff
.section-1__titel
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	font-size: $f-h1
	text-transform: uppercase
	line-height: 1.2
	margin: 62px 0 0
.section-1__gold-site
	margin-top: 50px
.section-1__link
	font-size: 30px
	font-family: "BelloPro", $helvetica
	font-weight: normal
	color: $c-yellow
	margin-top: 38px
	display: inline-block
	&:hover
		text-decoration: none
		color: $c-green
.section-1__icon-uslugi
	margin-top: 50px
.section-1__scroll-down
	margin-top: 40px
.section-1__scroll-down-link
	cursor: pointer
/* end .section-1 */

/* .hr */
.hr
	border-top: 7px solid $c-yellow
	border-bottom: 7px solid $c-green
/* end .hr */

/* section-2 */
.section-2
	padding: 49px 0
	background-color: #fff
.section-2__desc
	margin: 65px 70px 0
.section-2__carousel-customer
	margin: 80px 55px 0
/* end section-2 */

/* section-3 */
.section-3
	background-color: #003571
	+linear-gradient( #1e5e97 0%, #003571 30%)
	color: #fff
	padding: 100px 0 0
	height: 983px
	box-sizing: border-box
	position: relative
	overflow: hidden
.section-3__bacground
	position: absolute
	top: 0
	left: 50%
	+transform(translateX(-50%))
	background-image: url('img/concept.png')
	background-position: center center
	background-size: cover
	height: 983px
	width: 3589px
/* end section-3 */

/* section-4 */
.section-4
	padding-top: 180px
	position: relative
	background-color: #fff
.section-4__client
	height: 610px
.section-4__investors
	height: 515px
.section-4__journalist
	height: 543px
.section-4__desc
	margin: 30px
.section-4__image
	position: absolute
.section-4__image_tablet
	top: 90px
	left: 50%
	margin-left: -85px
.section-4__image_desctop
	top: 475px
	right: 50%
	margin-right: 85px
.section-4__image_laptop
	top: 1090px
	left: 50%
	margin-left: -250px
/* end section-4 */

/* section-5 */
.section-5
	+linear-gradient( #1e5e97 0%, #003571 50%)
	background-color: #003571
	color: #fff
	padding: 140px 0 130px
.section-5__icon
	float: left
	width: 291px
	margin-left: 45px
.section-5__desc
	margin-left: 405px
	margin-right: 60px
.section-5__name
	margin: 0
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	font-size: $f-name
.section-5__position
	font-size: $f-desc
	margin: 5px 0
.section-5__hr
	width: 450px
	height: 1px
	background-color: $c-yellow
.section-5__text
	font-size: $f-desc
	margin: 10px 0
/* end section-5 */

/* section-6 */
.section-6
	text-align: center
	padding-top: 60px
	background-color: #fff
.section-6__desc_first
	margin-top: 60px
.section-6__picture_icon
	margin-top: 10px
.section-6__desc_last
	margin-top: 35px
.section-6__picture_desing
	margin-top: 58px
/* end section-6 */


/* section-7 */
.section-7
	background-color: #003571
	+linear-gradient( #1e5e97 0%, #003571 30%)
	color: #fff
	padding: 30px 0 0
.section-7__h3
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	font-size: $f-name
	letter-spacing: 1px
	text-align: center
	margin: 0 0 17px
.section-7__carousel-function-text
	margin-top: 40px
.section-7__monitor
	height: 830px
	position: relative
	margin-top: 42px
	&:after
		content: ''
		bottom: 50px
		left: 50%
		+transform(translateX(-50%))
		width: 776px
		height: 596px
		position: absolute
		background-image: url('img/monitor.png')

/* end section-7 */

/* section-8 */
.section-8
	padding: 125px 0 90px
	background-color: #f0f0f0
.section-8__icon
	margin-right: 35px
	vertical-align: middle
.section-8__titile
	display: inline-block
	width: 250px
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	font-size: 33px
	vertical-align: middle
.section-8__desc
	display: inline-block
	width: 400px
	font-size: $f-desc
	vertical-align: middle
/* end section-8 */

/* section-9 */
.section-9
	padding: 95px 0 60px
	background-color: #fff
	height: 861px
	width: 100%
.section-9__h2
	margin-top: 180px
.section-9__desc
	margin: 40px 60px 0
.section-9__block_right
	position: relative
.section-9__mobile-version
	position: absolute
	top: 113px
	left: 93px
	width: 295px
	height: 494px
	background-color: #000
	overflow: auto
.flipping
	position: absolute
	top: 25px
	left: 405px
	font-size: 26px
	color: #1d5d96
	font-family: "BelloPro"
	&:after
		position: absolute
		top: 30px
		left: -30px
		content: ''
		+sprite($s-flipping)
/* end section-9 */

/* section-10 */
.section-10
	background-image: url('img/bg-result.jpg')
	background-repeat: repeat-x
	background-position: center top
	padding: 115px 0 130px
	color: #fff
.section-10__result
	margin-top: 115px
	padding-left: 65px
.section-10__desc
	display: inline-block
	margin-left: 100px
	font-family: "HelveticaNeueUltralight", $helvetica
	font-weight: normal
	font-size: $f-name
	vertical-align: middle
.section-10__icon
	vertical-align: middle
/* end section-10 */

//ALWAYS END
//@import "_media.sass"
