extends ./template/template.jade

block title
	title Главная страница

block content
	//-header
		nav.nav.nav-top.nav-white.is-page.nav-fixed
			.container
				.row
					.col-md-12
						.nav__logo.nav__single
							a(href="/#projects")
								i.icon.icon__logo
					.nav__back
						a(href="/#projects")
							span
								i.icon.icon__top
							| Узнать о компании
					.nav__menu
						.nav__menu__contacts
							a(href="#feedback").btn.sroll Получить консультацию
					.nav__feedback
						ul
							li
								a(href="#feedback").scroll
									i.icon.icon__mail
							li
								a(href="tel:7(495)6603778")
									i.icon.icon__phone
	.section.section-1
		.container
			.row
				.col-md-12
					a(href="#").section-1__logo
						img(src="img/logo_uralsib.png", alt="").section-1__picture
			.col-md-12
				.section-1__gold-site.gold-site
					img(src="img/gold-site__logo.png", alt="").gold-site__logo
					.gold-site__desc
						p.gold-site__title Золотой сайт
						p.gold-site__winner Победитель конкурса
			.col-md-12
				h1.section-1__titel Сайт финансовой корпорации уралсиб
			.col-md-12
				a(href="#").section-1__link www.uralsib.ru
			.col-md-12
				.icon-uslugi
					.icon-uslugi__item
						img(src="img/icon-uslugi_proekt.png", alt="").icon-uslugi__picture
						p.icon-uslugi__text Проектирование
					.icon-uslugi__item
						img(src="img/icon-uslugi_proekt.png", alt="").icon-uslugi__picture
						p.icon-uslugi__text Проектирование
					.icon-uslugi__item
						img(src="img/icon-uslugi_proekt.png", alt="").icon-uslugi__picture
						p.icon-uslugi__text Проектирование
					.icon-uslugi__item
						img(src="img/icon-uslugi_proekt.png", alt="").icon-uslugi__picture
						p.icon-uslugi__text Проектирование
					.icon-uslugi__item
						img(src="img/icon-uslugi_proekt.png", alt="").icon-uslugi__picture
						p.icon-uslugi__text Проектирование
			.col-md-12
				.section-1__scroll-down
					i.icon.icon-bottom
	


