extends ./template/template.jade

block title
	title Главная страница

block content
	//-header
		nav.nav.nav-top.nav-white.is-page.nav-fixed
			.container
				.row
					.col-md-12
						.nav__logo.nav__single
							a(href="/#projects")
								i.icon.icon__logo
					.nav__back
						a(href="/#projects")
							span
								i.icon.icon__top
							| Узнать о компании
					.nav__menu
						.nav__menu__contacts
							a(href="#feedback").btn.sroll Получить консультацию
					.nav__feedback
						ul
							li
								a(href="#feedback").scroll
									i.icon.icon__mail
							li
								a(href="tel:7(495)6603778")
									i.icon.icon__phone
	.section.section-1
		.container
			.row
				.col-md-12
					a(href="#").section-1__logo
						img(src="img/logo_uralsib.png", alt="").section-1__picture
				.col-md-12
					.section-1__gold-site.gold-site
						img(src="img/gold-site__logo.png", alt="").gold-site__logo
						.gold-site__desc
							img(src="img/gold-site__title.png", alt="").gold-site__title
							p.gold-site__winner Победитель конкурса
				.col-md-12
					h1.section-1__titel Сайт финансовой<br> корпорации уралсиб
				.col-md-12
					a(href="#").section-1__link www.uralsib.ru
				.col-md-12
					.icon-uslugi.section-1__icon-uslugi
						.icon-uslugi__item.icon-uslugi__item_first
							i.icon.icon_project.icon-uslugi__picture
							p.icon-uslugi__text Проектирование
						.icon-uslugi__item
							i.icon.icon_desing.icon-uslugi__picture
							p.icon-uslugi__text Дизайн
						.icon-uslugi__item
							i.icon.icon_develop.icon-uslugi__picture
							p.icon-uslugi__text Разработка
						.icon-uslugi__item
							i.icon.icon_support.icon-uslugi__picture
							p.icon-uslugi__text Поддержка
						.icon-uslugi__item.icon-uslugi__item_last
							i.icon.icon_mobile-version.icon-uslugi__picture
							p.icon-uslugi__text Мобильная версия
				.col-md-12
					.section-1__scroll-down
						i.icon.icon_down.section-1__scroll-down-link
	.hr
	.section-2
		.container
			.row
				.col-md-12
					.h2
						h2.h2__text О ЗАКАЗЧИКЕ
						.h2__border
				.col-md-12
					p.desc.section-2__desc Финансовая корпорация «УРАЛСИБ» — это одна из крупнейших российских финансовых групп, которая предоставляет широкий спектр услуг: розничные и корпоративные банковские продукты, инвестиционно-банковские услуги, брокерское обслуживание, управление активами и благосостоянием и другое.
				.col-md-12
					.carousel-customer.section-2__carousel-customer
						.carousel-customer__nav
							.carousel-customer__prev
								i.icon.icon_left_yellow
							.carousel-customer__next
								i.icon.icon_right_yellow
						.carousel-customer__items
							.carousel-customer-item.carousel-customer__item.carousel-customer__item_map
								.carousel-customer-item__desc.carousel-customer-item__desc_map
									p.carousel-customer-item__number 72
									p.carousel-customer-item__text региона
							.carousel-customer-item.carousel-customer__item.carousel-customer__item_dialog
								img(src="img/customer-dialog.png", alt="").carousel-customer-item__picture.carousel-customer-item__picture_dialog
								.carousel-customer-item__desc
									p.carousel-customer-item__number 16 500
									p.carousel-customer-item__text сотрудников
							.carousel-customer-item.carousel-customer__item
								img(src="img/global-map.png", alt="").carousel-customer-item__picture.carousel-customer-item__picture_glob
								.carousel-customer-item__desc
									p.carousel-customer-item__number 30 000
									p.carousel-customer-item__text точек обслужования
							
	.section.section-3
		.container
			.row
				.col-md-4.col-md-offset-2
					.h2
						h2.h2__text.section-3__h2-text Концепция
						.h2__border
					p.desc Основная задача, стоявшая перед нами, заключалась в создании информационной площадки для финансовой корпорации - общей для всех подразделений компании. Важным было грамотно структурировать большой объем информации.
		.section-3__bacground

	.section.section-4
		.container.section-4__client
			.row
				.col-md-4.col-md-offset-1
					.h2
						h2.h2__text Клиентам
						.h2__border
					p.desc.section-4__desc Мы создали стартовую навигационную страницу для того, чтобы клиенты могли быстро найти необходимую услугу и перейти на нужный сайт.
		.section-4__image.section-4__image_tablet
			img(src="img/tablet.png", alt="")
		.container.section-4__investors
			.row
				.col-md-4.col-md-offset-6
					.h2
						h2.h2__text ИНВЕСТОРАМ
						.h2__border
					p.desc.section-4__desc Мы разместили цифры, факты, аналитику, новости для привлечения инвесторов. Посвятили один из главных разделов отчетности и описанию реализованных на инвестициях проектов
		.section-4__image.section-4__image_desctop
			img(src="img/desctop.png", alt="")
		.container.section-4__journalist
			.row
				.col-md-4.col-md-offset-1
					.h2
						h2.h2__text ЖУРНАЛИСТАМ
						.h2__border
					p.desc.section-4__desc Мы создали образ открытой динамичной компании, разместив отдельным разделом новости, медиаконтент, онлайн-версии печатных корпоративных изданий.
		.section-4__image.section-4__image_laptop
			img(src="img/laptop.png", alt="")

	.section.section-5
		.container
			.row
				.col-md-10.col-md-offset-1
					.section-5__icon
						i.icon.icon_quote
					.section-5__desc
						p.section-5__name Валентин Дубовицкий
						p.section-5__position главный эксперт <br>Дирекции интернет-представительства <br>ОАО «Финансовая корпорация УРАЛСИБ
						.section-5__hr
						p.section-5__text Сотрудничество с агентством «AREALIDEA» я бы охарактеризовал как продуктивное. Коллеги оперативно реагируют на изменения, техническая поддержка на высоком уровне. Работа по обновлению велась довольно продолжительный срок – почти год. За этот период можно достаточно хорошо узнать подрядчика – мы довольны

	.section.section-6
		.container
			.row
				.col-md-12
					.h2
						h2.h2__text Дизайн
						.h2__border
					p.desc.section-6__desc.section-6__desc_first Чтобы не рассеивать внимание пользователя и соответствовать статусу корпоративного ресурса финансовой корпорации, в качестве приоритетов для дизайна были определены строгость, простота графики и поддержка корпоративного брендбука
					img(src="img/desing-icon.png", alt="").section-6__picture.section-6__picture_icon
					p.desc.section-6__desc.section-6__desc_last Легкость элементов интерфейса, яркие однотонные подложки позволяют указать на приоритетную информацию.
					img(src="img/desing.jpg", alt="").section-6__picture.section-6__picture_desing

	.section.section-7
		.container
			.row
				.col-md-12
					.h2
						h2.h2__text.section-7__h2-text Полезные функции
						.h2__border
					h3.section-7__h3 НОВОСТИ ДЛЯ КАЖДОГО
					.carousel-function-text.section-7__carousel-function-text
						.carousel-function-text__item
							p.desc.carousel-function-text__desc Нами реализовано решение по генерации персональной новостной ленты для каждого пользователя. С помощью кнопки «+ ИЗБРАННОЕ» можно добавить любую новость в собственную ленту. Готовый отчет можно выгрузить в формат doc или pdf
						.carousel-function-text__item
							p.desc.carousel-function-text__desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса путь дорогу ему на берегу, о скатился, предупреждал свой всеми!
						.carousel-function-text__item
							p.desc.carousel-function-text__desc Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предупреждал, образ, лучше. Страна которой имеет коварный свою сих послушавшись по всей ведущими наш большого языкового.
					.section-7__monitor
						.carousel-function__nav
							.carousel-function__prev
								i.icon.icon_left_yellow
							.carousel-function__next
								i.icon.icon_right_yellow
						.carousel-function-img.section-7__carousel-function-img
							.carousel-function-img__item
								img(src="img/desing-function-1.jpg", alt="").carousel-function-img__picture
							.carousel-function-img__item
								img(src="img/desing-function-2.jpg", alt="").carousel-function-img__picture
							.carousel-function-img__item
								img(src="img/desing-function-1.jpg", alt="").carousel-function-img__picture


