extends ./template/template.jade

block title
	title Главная страница

block content
	//-header
		nav.nav.nav-top.nav-white.is-page.nav-fixed
			.container
				.row
					.col-md-12
						.nav__logo.nav__single
							a(href="/#projects")
								i.icon.icon__logo
					.nav__back
						a(href="/#projects")
							span
								i.icon.icon__top
							| Узнать о компании
					.nav__menu
						.nav__menu__contacts
							a(href="#feedback").btn.sroll Получить консультацию
					.nav__feedback
						ul
							li
								a(href="#feedback").scroll
									i.icon.icon__mail
							li
								a(href="tel:7(495)6603778")
									i.icon.icon__phone
	.section.section-1
		.container
			.row
				.col-md-12
					a(href="#").section-1__logo
						img(src="img/logo_uralsib.png", alt="").section-1__picture
				.col-md-12
					.section-1__gold-site.gold-site
						img(src="img/gold-site__logo.png", alt="").gold-site__logo
						.gold-site__desc
							img(src="img/gold-site__title.png", alt="").gold-site__title
							p.gold-site__winner Победитель конкурса
				.col-md-12
					h1.section-1__titel Сайт финансовой<br> корпорации уралсиб
				.col-md-12
					a(href="#").section-1__link www.uralsib.ru
				.col-md-12
					.icon-uslugi.section-1__icon-uslugi
						.icon-uslugi__item.icon-uslugi__item_first
							i.icon.icon_project.icon-uslugi__picture
							p.icon-uslugi__text Проектирование
						.icon-uslugi__item
							i.icon.icon_desing.icon-uslugi__picture
							p.icon-uslugi__text Дизайн
						.icon-uslugi__item
							i.icon.icon_develop.icon-uslugi__picture
							p.icon-uslugi__text Разработка
						.icon-uslugi__item
							i.icon.icon_support.icon-uslugi__picture
							p.icon-uslugi__text Поддержка
						.icon-uslugi__item.icon-uslugi__item_last
							i.icon.icon_mobile-version.icon-uslugi__picture
							p.icon-uslugi__text Мобильная версия
				.col-md-12
					.section-1__scroll-down
						i.icon.icon_down.section-1__scroll-down-link
	.hr
	.section-2
		.container
			.row
				.col-md-12
					.h2
						h2.h2__text О ЗАКАЗЧИКЕ
						.h2__border
				.col-md-12
					p.desc.section-2__desc Финансовая корпорация «УРАЛСИБ» — это одна из крупнейших российских финансовых групп, которая предоставляет широкий спектр услуг: розничные и корпоративные банковские продукты, инвестиционно-банковские услуги, брокерское обслуживание, управление активами и благосостоянием и другое.
				.col-md-12
					.carousel-customer.section-2__carousel-customer
						.carousel-customer__nav
							.carousel-customer__left
								i.icon.icon_left_yellow
							.carousel-customer__right
								i.icon.icon_right_yellow
						.carousel-customer__items
							.carousel-customer-item.carousel-customer__item
								img(src="img/global-map.png", alt="").carousel-customer-item__picture
								.carousel-customer-item__desc
									p.carousel-customer-item__number 30 000
									p.carousel-customer-item__text точек обслужования
							.carousel-customer-item.carousel-customer__item
								img(src="img/global-map.png", alt="").carousel-customer-item__picture
								.carousel-customer-item__desc
									p.carousel-customer-item__number 30 000
									p.carousel-customer-item__text точек обслужования
							.carousel-customer-item.carousel-customer__item
								img(src="img/global-map.png", alt="").carousel-customer-item__picture
								.carousel-customer-item__desc
									p.carousel-customer-item__number 30 000
									p.carousel-customer-item__text точек обслужования
